<app-navbar></app-navbar>
<div class="container mx-auto py-8">
  <section class="w-full bg-cover bg-center rounded-full animated-bg" style="background-image:url(assets/IMAGES/space.avif); height: 480px;">
    <div class="bg-opacity-50 w-full h-full flex items-center justify-center md:justify-center">
      <div class="text-center md:text-center">
        <h2 class="font-poppins font-bold text-center" style="color:rgb(68, 28, 136) ;font-size: 28px;font-family:Audiowide, sans-serif; font-weight: bold; font-style: tech-oriented;">
          It's Action Time
        </h2><br>
        <p class="font-poppins font-bold text-center " style="color:rgb(134, 97, 171);font-size: 18px;font-family:Audiowide, sans-serif; font-weight: bold; font-style: tech-oriented;">
         YOur Ultimate Destination For Free Games
      </p>
        <button class="text-white  bg-gradient-to-br from-blue-800 to-green-300 to-orange-400 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800 font-medium rounded-lg text-sm px-5 py-2.5 mt-8 md:ml-[8%]" style="font-weight: bold; padding: 10px 16px;border-radius: 55%;font-family:Audiowide, sans-serif; font-weight: bold; font-style: tech-oriented;">
          Explore Now
        </button>
      </div>
    </div>
  </section>
  <h1  style="color: white; font-size: 200%;letter-spacing: 2px;justify-content: center; text-align: center; align-items: center;font-family:Audiowide, sans-serif; font-weight: bold; font-style: tech-oriented;">TIME FOR SOME ACTION</h1>

  <section class="w-full max-w-8xl mt-5 px-4">
        <div class="container mx-auto px-4" style="font-family:Audiowide, sans-serif; font-weight: bold; font-style: tech-oriented;">
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
                <div *ngFor="let item of games" class="w-full md:w-5/10 px-4 mb-4" >
            <div   style="justify-content: center; align-items: center;">
                <div class="flex flex-col items-center  ">
                  <div class=" rounded-lg shadow-md overflow-hidden">
                    <a>
                    <img [src]="item.image" class="card-img-top" alt="{{ item.title }}">
                    </a>
                    <p style="font-size: 15px; color: rgb(255, 255, 255); ">{{item.description}}</p>
                    <ul>
                      <li>
                        <p style=" color: rgb(255, 255, 255); font-size: 13px; display: inline;">Evaluation:</p>
                        <span style="font-size: 13px; color: rgb(126, 126, 246);  display: inline;">{{item.evaluation}}</span>
                      </li>
                      <li>
                        <p style=" color: rgb(255, 255, 255); font-size: 13px; display: inline;">DATE:</p>
                        <span style="font-size: 13px; color: rgb(126, 126, 246);  display: inline;">{{item.date}}</span>
                      </li>
                      <li>
                        <p style=" color: rgb(255, 255, 255); font-size: 13px; display: inline;">Edition:</p>
                        <span style="font-size: 13px; color: rgb(126, 126, 246);  display: inline;">{{item.edition}}</span>
                      </li>
                      <li>
                        <p style=" color: rgb(255, 255, 255); font-size: 13px; display: inline;">EVALS:</p>
                        <span style="font-size: 13px; color: rgb(126, 126, 246);  display: inline;">{{item.evals}}</span>
                      </li>
                     
                    </ul>
                    <p style="font-size: 13px; color: rgb(255, 255, 255);">Popular tags from users for this product:</p>
                    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-1">
                      <button class="bg-blue-900 px-6 py-3 rounded-md text-lg font-medium hover:bg-blue-800" style=" font-size: 10px; color: white;">{{item.category1}}</button>
                      <button class="bg-blue-900 px-6 py-3 rounded-md text-lg font-medium hover:bg-blue-800" style=" font-size: 10px; color: white;">{{item.category2}}</button>
                      <button class="bg-blue-900 px-6 py-3 rounded-md text-lg font-medium hover:bg-blue-800" style=" font-size: 10px; color: white;">{{item.category3}}</button>
                    </div>
                    <br>
                    <div class="download" style="display: flex;justify-content: center;align-items: center;">
                      <a href={{item.url}}  target="_blank" rel={{item.title}} class="bg-blue-900 px-6 py-3 rounded-md font-medium hover:bg-blue-800 text-white bg-cover bg-opacity-50">download</a>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
    
</div>

        
       
  </section>
</div>


