<app-navbar></app-navbar>
<div class="container mx-auto py-8">
    <section class="w-100 bg-cover bg-center rounded-full animate-pulse hover:animate-none" style="background-image:url(https://img.freepik.com/free-photo/car-racing-video-game-arcade_53876-98103.jpg?w=2000); height: 650px;">
        <div class="bg-opacity-50 w-full h-full flex items-center justify-center md:justify-start md:ml-[5%]">
            <div class="text-center md:text-center md:mt-[3%]">
                <h1  style="color: white; font-size: 40px; justify-content: center; text-align: center; align-items: center;font-family:Audiowide, sans-serif; font-weight: bold; font-style: tech-oriented;">Clustering crystal dreams open the door to a new evolution!</h1>

              <button class="text-white  bg-gradient-to-br from-blue-900 to-green-300 to-red-100 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800 font-medium rounded-lg" style="font-weight: bold; padding: 16px 28px;border-radius:75px;font-family:Audiowide, sans-serif; font-weight: bold; font-style: tech-oriented;font-size: 20px;margin-top: 3%;">
                Explore Now
              </button>
            </div>
          </div>
    </section>
    <section class="w-full max-w-8xl mt-5 px-4">
      <div class="container mx-auto px-4" style="font-family:Audiowide, sans-serif; font-weight: bold; font-style: tech-oriented;">
          <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
              <div *ngFor="let item of games" class="w-full md:w-5/10 px-4 mb-4" >
          <div   style="justify-content: center; align-items: center;">
              <div class="flex flex-col items-center  ">
                <div class=" rounded-lg shadow-md overflow-hidden">
                  <a>
                  <img [src]="item.image" class="card-img-top" alt="{{ item.title }}">
                  </a>
                  <p style="font-size: 15px; color: rgb(255, 255, 255); ">{{item.description}}</p>
                  <ul>
                    <li>
                      <p style=" color: rgb(255, 255, 255); font-size: 13px; display: inline;">Evaluation:</p>
                      <span style="font-size: 13px; color: rgb(126, 126, 246);  display: inline;">{{item.evaluation}}</span>
                    </li>
                    <li>
                      <p style=" color: rgb(255, 255, 255); font-size: 13px; display: inline;">DATE:</p>
                      <span style="font-size: 13px; color: rgb(126, 126, 246);  display: inline;">{{item.date}}</span>
                    </li>
                    <li>
                      <p style=" color: rgb(255, 255, 255); font-size: 13px; display: inline;">Edition:</p>
                      <span style="font-size: 13px; color: rgb(126, 126, 246);  display: inline;">{{item.edition}}</span>
                    </li>
                    <li>
                      <p style=" color: rgb(255, 255, 255); font-size: 13px; display: inline;">EVALS:</p>
                      <span style="font-size: 13px; color: rgb(126, 126, 246);  display: inline;">{{item.evals}}</span>
                    </li>
                   
                  </ul>
                  <p style="font-size: 13px; color: rgb(255, 255, 255);">Popular tags from users for this product:</p>
                  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-1">
                    <button class="bg-blue-900 px-6 py-3 rounded-md text-lg font-medium hover:bg-blue-800" style=" font-size: 10px; color: white;">{{item.category1}}</button>
                    <button class="bg-blue-900 px-6 py-3 rounded-md text-lg font-medium hover:bg-blue-800" style=" font-size: 10px; color: white;">{{item.category2}}</button>
                    <button class="bg-blue-900 px-6 py-3 rounded-md text-lg font-medium hover:bg-blue-800" style=" font-size: 10px; color: white;">{{item.category3}}</button>
                  </div>
                  <br>
                  <div class="download" style="display: flex;justify-content: center;align-items: center;">
                    <a href={{item.url}}  target="_blank" rel={{item.title}} class="bg-blue-900 px-6 py-3 rounded-md font-medium hover:bg-blue-800 text-white bg-cover bg-opacity-50">download</a>
                  </div>
                </div>
              </div>
            </div>
      </div>
  </div>
  
  </div>
  
      
     
  </section>
  
  
          
         
        
  </div>
  
  
  