<div class="container mx-auto py-8">
    <section class="w-100 bg-cover bg-center rounded-full animate-pulse hover:animate-none" style="background-image:url(https://img.freepik.com/free-photo/car-racing-video-game-arcade_53876-98103.jpg?w=2000); height: 650px;">
        <div class="bg-opacity-50 w-full h-full flex items-center justify-center md:justify-start md:ml-[5%]">
            <div class="text-center md:text-center md:mt-[3%]">
                <h1  style="color: white; font-size: 40px; justify-content: center; text-align: center; align-items: center;font-family:Audiowide, sans-serif; font-weight: bold; font-style: tech-oriented;">Clustering crystal dreams open the door to a new evolution!</h1>

              <button class="text-white  bg-gradient-to-br from-blue-900 to-green-300 to-red-100 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800 font-medium rounded-lg" style="font-weight: bold; padding: 16px 28px;border-radius:75px;font-family:Audiowide, sans-serif; font-weight: bold; font-style: tech-oriented;font-size: 20px;margin-top: 3%;">
                Explore Now
              </button>
            </div>
          </div>
    </section>
        <div class="container mx-auto px-4" style="font-family:Audiowide, sans-serif; font-weight: bold; font-style: tech-oriented;">
              <div class="flex flex-wrap -mx-4">
                  <div *ngFor="let item of SimulationItems" class="w-full md:w-1/3 px-4 mb-4">
              <div style="justify-content: center; align-items: center; margin-top: 25px;">
                  <div class="flex flex-col items-center">
                    <div class="flex flex-col justify-between p-5 leading-normal">
                    <a  [routerLink]="['/simulation', item.id]">
                      <img [src]="item.Image" class="card-img-top" alt="" >
                    </a>
                      <p style="font-size: 13px; color: rgb(255, 255, 255); ">{{item.description}}</p>
                      <ul style="margin-top: 2%;">
                        <li>
                          <p style=" color: rgb(255, 255, 255); font-size: 13px; display: inline;">EVOLUATION RECENTES : </p>
                          <span style="font-size: 15px; color: rgb(47, 47, 220);  display: inline;">  {{item.Evaluation}}</span>
                        </li>
                        <li>
                          <p style=" color: rgb(255, 255, 255); font-size: 13px; display: inline;">TOUTES LES EVAL : </p>
                          <span style="font-size: 13px; color: rgb(47, 47, 220);  display: inline;">  {{item.Evals}}</span>
                        </li>
                        
                      </ul>
                      <p style="font-size: 13px; color: rgb(255, 255, 255);">Tags populaires des utilisateurs et utilisatrices pour ce produit :</p>
                      <div style="display: flex;">
                        <button class="bg-blue-900 px-6 py-3 rounded-md text-lg font-medium hover:bg-blue-800" style="margin-right: 5px; font-size: 10px; color: white;">{{item.category1}}</button>
                        <button class="bg-blue-900 px-6 py-3 rounded-md text-lg font-medium hover:bg-blue-800" style="margin-right: 5px; font-size: 10px; color: white;">{{item.category2}} </button>
                        <button class="bg-blue-900 px-6 py-3 rounded-md text-lg font-medium hover:bg-blue-800" style="margin-right: 5px; font-size: 10px; color: white;">{{item.category3}} </button>
                        <button class="bg-blue-900 px-6 py-3 rounded-md text-lg font-medium hover:bg-blue-800" style="margin-right: 5px; font-size: 10px; color: white;">+</button>
                      </div>
                    </div>
                  </div>
                </div>
          </div>
      </div>
      
  </div>
  
          
         
        
  </div>
  
  
  