<app-navbar></app-navbar>
<div class="container mx-auto py-8" >
  <section class="w-100 bg-cover bg-center rounded-full animate-pulse hover:animate-none" style="background-image:url(https://files.oaiusercontent.com/file-3MjnvDJqedArH6tpcKUyd2?se=2025-01-01T16%3A13%3A20Z&sp=r&sv=2024-08-04&sr=b&rscc=max-age%3D604800%2C%20immutable%2C%20private&rscd=attachment%3B%20filename%3D241c8704-0b1c-4b9e-84de-0d551b30604b.webp&sig=FYyKVQdmm8csupAeq7fIUhkQT3mF1zO2K6FE6Ycv8YA%3D); height: 500px;">
  
    <div class="bg-opacity-50 w-full h-full flex items-center justify-center md:justify-start md:ml-[30%]">
      <div class="text-center md:text-center md:mt-[3%]">
        <h2 class="font-poppins font-bold text-center  sm:text-3xl md:text-4xl lg:text-5xl" style="color: rgb(255, 255, 255);font-size: 35px;font-family:Audiowide, sans-serif; font-weight: bold; font-style: tech-oriented;">
          Strategy Games
        </h2><br>
        <p class="font-poppins font-bold text-center  sm:text-3xl md:text-4xl lg:text-5xl" style="color: rgb(255, 255, 255);font-size: 25px;font-family:Audiowide, sans-serif; font-weight: bold; font-style: tech-oriented;">
         Your Ultimate Destination For Free Games
      </p>
        <button class="text-white  bg-gradient-to-br from-yellow-300 to-orange-200 to-red-800 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-orange-300 dark:focus:ring-red-900 font-medium rounded-lg text-sm px-5 py-2.5 mt-8 md:ml-[8%]" style="font-weight: bold; font-size: 1.75rem; background-color: rgb(77, 74, 74); padding: 16px 28px; border: none; outline: none;border-radius: 75px;font-family:Audiowide, sans-serif; font-weight: bold; font-style: tech-oriented;">
          Explore Now
        </button>
      </div>
    </div>
  </section>
        
    <section class="w-full max-w-8xl mt-5 px-4">
      <div class="container mx-auto px-4" style="font-family:Audiowide, sans-serif; font-weight: bold; font-style: tech-oriented;">
          <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
              <div *ngFor="let item of games" class="w-full md:w-5/10 px-4 mb-4" >
          <div   style="justify-content: center; align-items: center;">
              <div class="flex flex-col items-center  ">
                <div class=" rounded-lg shadow-md overflow-hidden">
                  <a>
                  <img [src]="item.image" class="card-img-top" alt="{{ item.title }}">
                  </a>
                  <p style="font-size: 15px; color: rgb(255, 255, 255); ">{{item.description}}</p>
                  <ul>
                    <li>
                      <p style=" color: rgb(255, 255, 255); font-size: 13px; display: inline;">Evaluation:</p>
                      <span style="font-size: 13px; color: rgb(126, 126, 246);  display: inline;">{{item.evaluation}}</span>
                    </li>
                    <li>
                      <p style=" color: rgb(255, 255, 255); font-size: 13px; display: inline;">DATE:</p>
                      <span style="font-size: 13px; color: rgb(126, 126, 246);  display: inline;">{{item.date}}</span>
                    </li>
                    <li>
                      <p style=" color: rgb(255, 255, 255); font-size: 13px; display: inline;">Edition:</p>
                      <span style="font-size: 13px; color: rgb(126, 126, 246);  display: inline;">{{item.edition}}</span>
                    </li>
                    <li>
                      <p style=" color: rgb(255, 255, 255); font-size: 13px; display: inline;">EVALS:</p>
                      <span style="font-size: 13px; color: rgb(126, 126, 246);  display: inline;">{{item.evals}}</span>
                    </li>
                   
                  </ul>
                  <p style="font-size: 13px; color: rgb(255, 255, 255);">Popular tags from users for this product:</p>
                  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-1">
                    <button class="bg-blue-900 px-6 py-3 rounded-md text-lg font-medium hover:bg-blue-800" style=" font-size: 10px; color: white;">{{item.category1}}</button>
                    <button class="bg-blue-900 px-6 py-3 rounded-md text-lg font-medium hover:bg-blue-800" style=" font-size: 10px; color: white;">{{item.category2}}</button>
                    <button class="bg-blue-900 px-6 py-3 rounded-md text-lg font-medium hover:bg-blue-800" style=" font-size: 10px; color: white;">{{item.category3}}</button>
                  </div>
                  <br>
                  <div class="download" style="display: flex;justify-content: center;align-items: center;">
                    <a href={{item.url}}  target="_blank" rel={{item.title}} class="bg-blue-900 px-6 py-3 rounded-md font-medium hover:bg-blue-800 text-white bg-cover bg-opacity-50">download</a>
                  </div>
                  <div class="favIcon" style="display:flex;justify-content:right;margin-right:5%;">
                    <button class="FavoriteIcon"(click)="addToFavorite(item.id)" >
                      <i class="fas fa-heart">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="red" class="bi bi-heart-fill" viewBox="0 0 16 16">
                          <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
                        </svg>
                      </i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
      </div>
  </div>
  
  </div>
  
      
     
  </section>
  
  
          
         
        
  </div>
  
  
  