<div class="min-h-screen  text-white flex flex-col items-center" style="background: radial-gradient(circle,#82ff69, #3748c6 , #030339,rgb(44, 24, 72))">
    <section class="w-full bg-cover bg-center h-96 animated-bg" style="background-image: url(assets/IMAGES/2.png);">
        <div class=" bg-opacity-50 w-full h-full flex items-center justify-center">
        <div class="text-center">
          <h1  style="font-weight: bold;font-family:Audiowide, sans-serif; font-weight: bold; font-style: tech-oriented;font-size: 200%;">Welcome to DREELAND</h1><br>
          <p style="font-weight: bold;font-family:Audiowide, sans-serif; font-weight: bold; font-style: tech-oriented;font-size: 150%;">Your ultimate destination for free games </p>
          <button class="text-white  bg-gradient-to-br from-blue-800 to-green-300 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800 font-medium rounded-lg text-sm px-5 py-2.5 mt-8 md:ml-[8%]" style="font-weight: bold; padding: 10px 16px; border: none; outline: none;border-radius: 45%;font-family:Audiowide, sans-serif; font-weight: bold; font-style: tech-oriented;">
            Explore Now
          </button>
        </div>
      </div>
    </section>
  <br><br>
    <section class="w-full max-w-7xl mt-10 px-4">
      <h2 class="text-3xl font-bold mb-6 text-center">Featured Games</h2>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
       
        <div class=" rounded-lg shadow-md overflow-hidden">
          <img src="https://shared.akamai.steamstatic.com/store_item_assets/steam/apps/601510/header_alt_assets_2_french.jpg?t=1716512796" alt="Game 1" class="w-full h-45 object-cover">
          <div class="p-4">
            <h3 class="text-l font-bold">YU GI OH ! DUEL LINKS</h3>
            <p class="text-sm font-medium">Exciting and immersive gameplay experience.</p>
            <div class="flex justify-between mt-4">
              <button type="button" style="font-size: 14px;border-radius: 15px;background:radial-gradient(circle,#82ff69, #3748c6,rgb(44, 24, 72));width: 150px;display: inline-flex;justify-content: center;align-items: center;height: 30px;">
                <svg class="w-3 h-3 me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                  <path d="M14.707 7.793a1 1 0 0 0-1.414 0L11 10.086V1.5a1 1 0 0 0-2 0v8.586L6.707 7.793a1 1 0 1 0-1.414 1.414l4 4a1 1 0 0 0 1.416 0l4-4a1 1 0 0 0-.002-1.414Z"/>
                  <path d="M18 12h-2.55l-2.975 2.975a3.5 3.5 0 0 1-4.95 0L4.55 12H2a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2v-4a2 2 0 0 0-2-2Zm-3 5a1 1 0 1 1 0-2 1 1 0 0 1 0 2Z"/>
                </svg>
                Downloads
              </button>
              <a href="#"style="font-size: 14px;border-radius: 15px;background:radial-gradient(circle,#82ff69, #3748c6,rgb(44, 24, 72));width: 120px;display: inline-flex;justify-content: center;align-items: center;height: 30px;">
                <i class="bi bi-eye-fill" style="margin-right: 8px;">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                    <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
                  </svg>
                </i>
                VIEW
              </a>
            </div>
            

          </div>
        </div>
        <div class=" rounded-lg shadow-md overflow-hidden">
          <img src="https://cdn.akamai.steamstatic.com/steam/apps/39210/hero_capsule_french.jpg?t=1711488174" alt="Game 2" class="w-full h-48 object-cover">
          <div class="p-4">
            <h3 class="text-l font-bold">FINAL FANTASY XIV Online</h3>
            <p  class="text-sm font-medium">Thrilling adventures and challenging missions.</p>
            <div class="flex justify-between mt-4">
              <button type="button" style="font-size: 14px;border-radius: 15px;background:radial-gradient(circle,#82ff69, #3748c6,rgb(44, 24, 72));width: 150px;display: inline-flex;justify-content: center;align-items: center;height: 30px;">
                <svg class="w-3 h-3 me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                  <path d="M14.707 7.793a1 1 0 0 0-1.414 0L11 10.086V1.5a1 1 0 0 0-2 0v8.586L6.707 7.793a1 1 0 1 0-1.414 1.414l4 4a1 1 0 0 0 1.416 0l4-4a1 1 0 0 0-.002-1.414Z"/>
                  <path d="M18 12h-2.55l-2.975 2.975a3.5 3.5 0 0 1-4.95 0L4.55 12H2a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2v-4a2 2 0 0 0-2-2Zm-3 5a1 1 0 1 1 0-2 1 1 0 0 1 0 2Z"/>
                </svg>
                Downloads
              </button>
                <a href="#"style="font-size: 14px;border-radius: 15px;background:radial-gradient(circle,#82ff69, #3748c6,rgb(44, 24, 72));width: 150px;display: inline-flex;justify-content: center;align-items: center;height: 30px;">
                  <i class="bi bi-eye-fill" style="margin-right: 8px;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                      <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                      <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
                    </svg>
                  </i>
                  VIEW
                </a>
            </div>

          </div>
        </div>
        <div class=" rounded-lg shadow-md overflow-hidden">
          <img src="https://shared.akamai.steamstatic.com/store_item_assets/steam/apps/1449850/header_alt_assets_2_french.jpg?t=1717747561" alt="Game 3" class="w-full h-48 object-cover">
          <div class="p-4">
            <h3 class="text-l font-bold">YU GI OH ! MASTER DUEL</h3>
            <p class="text-sm font-medium">Engage in epic battles and strategic gameplay.</p>
            <div class="flex justify-between mt-4">
              <button type="button" style="font-size: 14px;border-radius: 15px;background:radial-gradient(circle,#82ff69, #3748c6,rgb(44, 24, 72));width: 150px;display: inline-flex;justify-content: center;align-items: center;height: 30px;">
                <svg class="w-3 h-3 me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                  <path d="M14.707 7.793a1 1 0 0 0-1.414 0L11 10.086V1.5a1 1 0 0 0-2 0v8.586L6.707 7.793a1 1 0 1 0-1.414 1.414l4 4a1 1 0 0 0 1.416 0l4-4a1 1 0 0 0-.002-1.414Z"/>
                  <path d="M18 12h-2.55l-2.975 2.975a3.5 3.5 0 0 1-4.95 0L4.55 12H2a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2v-4a2 2 0 0 0-2-2Zm-3 5a1 1 0 1 1 0-2 1 1 0 0 1 0 2Z"/>
                </svg>
                Downloads
              </button>
              <a href="#" style="font-size: 14px;border-radius: 15px;background:radial-gradient(circle,#82ff69, #3748c6,rgb(44, 24, 72));width: 150px;display: inline-flex;justify-content: center;align-items: center;height: 30px;">
                <i class="bi bi-eye-fill" style="margin-right: 8px;">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                    <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
                  </svg>
                </i>
                VIEW
              </a>
            </div>

          </div>
        </div>
      </div>
      <br><br>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
        <!-- Game Card -->
        <div class=" rounded-lg shadow-md overflow-hidden">
          <img src="https://shared.akamai.steamstatic.com/store_item_assets/steam/apps/271590/header.jpg?t=1716224849" alt="Game 4" class="w-full h-48 object-cover">
          <div class="p-4">
            <h3 class="text-l font-bold">GRAND THEFT AUTO V</h3>
            <p class="text-sm font-medium">play with a distinct mission and role within the narrative of the game.</p>
            <br>
            
            <div class="flex justify-between mt-4">
              <button type="button" style="font-size: 14px;border-radius: 15px;background:radial-gradient(circle,#82ff69, #3748c6,rgb(44, 24, 72));width: 150px;display: inline-flex;justify-content: center;align-items: center;height: 30px;">
                <svg class="w-3 h-3 me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                  <path d="M14.707 7.793a1 1 0 0 0-1.414 0L11 10.086V1.5a1 1 0 0 0-2 0v8.586L6.707 7.793a1 1 0 1 0-1.414 1.414l4 4a1 1 0 0 0 1.416 0l4-4a1 1 0 0 0-.002-1.414Z"/>
                  <path d="M18 12h-2.55l-2.975 2.975a3.5 3.5 0 0 1-4.95 0L4.55 12H2a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2v-4a2 2 0 0 0-2-2Zm-3 5a1 1 0 1 1 0-2 1 1 0 0 1 0 2Z"/>
                </svg>
                Downloads
              </button>
              <a href="#" style="font-size: 14px;border-radius: 15px;background:radial-gradient(circle,#82ff69, #3748c6,rgb(44, 24, 72));width: 150px;display: inline-flex;justify-content: center;align-items: center;height: 30px;">
                <i class="bi bi-eye-fill" style="margin-right: 8px;">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                    <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
                  </svg>
                </i>
                VIEW
              </a>
            </div>
            

          </div>
        </div>
        <div class=" rounded-lg shadow-md overflow-hidden">
          <img src="https://shared.akamai.steamstatic.com/store_item_assets/steam/apps/1951410/header.jpg?t=1712755136" alt="Game 5" class="w-full h-48 object-cover">
          <div class="p-4">
            <h3 class="text-l font-bold">WE ARE FOOTBALL 2024</h3>
            <p class="text-sm font-medium">Dive into the world of football like never before. Choose an existing club or start your own. Manage either men or women</p>
            <br>
            <div class="flex justify-between mt-4">
              <button type="button"style="font-size: 14px;border-radius: 15px;background:radial-gradient(circle,#82ff69, #3748c6,rgb(44, 24, 72));width: 150px;display: inline-flex;justify-content: center;align-items: center;height: 30px;">
                <svg class="w-3 h-3 me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                  <path d="M14.707 7.793a1 1 0 0 0-1.414 0L11 10.086V1.5a1 1 0 0 0-2 0v8.586L6.707 7.793a1 1 0 1 0-1.414 1.414l4 4a1 1 0 0 0 1.416 0l4-4a1 1 0 0 0-.002-1.414Z"/>
                  <path d="M18 12h-2.55l-2.975 2.975a3.5 3.5 0 0 1-4.95 0L4.55 12H2a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2v-4a2 2 0 0 0-2-2Zm-3 5a1 1 0 1 1 0-2 1 1 0 0 1 0 2Z"/>
                </svg>
                Downloads
              </button>
              <a href="#" style="font-size: 14px;border-radius: 15px;background:radial-gradient(circle,#82ff69, #3748c6,rgb(44, 24, 72));width: 150px;display: inline-flex;justify-content: center;align-items: center;height: 30px;">
                <i class="bi bi-eye-fill" style="margin-right: 8px;">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                    <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
                  </svg>
                </i>
                VIEW
              </a>
            </div>

          </div>
        </div>
        <div class=" rounded-lg shadow-md overflow-hidden">
          <img src="https://shared.akamai.steamstatic.com/store_item_assets/steam/apps/1551360/header.jpg?t=1718730250" alt="Game 6" class="w-full h-48 object-cover">
          <div class="p-4">
            <h3 class="text-l font-bold">Forza Horizon 5</h3>
            <p class="text-sm font-medium">Explore the vibrant open world landscapes of Mexico with limitless, fun driving action in the world's greatest cars. Blast off into <strong>Forza Horizon 5</strong> </p>
            <br>
            <div class="flex justify-between mt-4">
              <button type="button" style="font-size: 14px;border-radius: 15px;background:radial-gradient(circle,#82ff69, #3748c6,rgb(44, 24, 72));width: 150px;display: inline-flex;justify-content: center;align-items: center;height: 30px;">
                <svg class="w-3 h-3 me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                  <path d="M14.707 7.793a1 1 0 0 0-1.414 0L11 10.086V1.5a1 1 0 0 0-2 0v8.586L6.707 7.793a1 1 0 1 0-1.414 1.414l4 4a1 1 0 0 0 1.416 0l4-4a1 1 0 0 0-.002-1.414Z"/>
                  <path d="M18 12h-2.55l-2.975 2.975a3.5 3.5 0 0 1-4.95 0L4.55 12H2a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2v-4a2 2 0 0 0-2-2Zm-3 5a1 1 0 1 1 0-2 1 1 0 0 1 0 2Z"/>
                </svg>
                Downloads
              </button>
              <a href="#" style="font-size: 14px;border-radius: 15px;background:radial-gradient(circle,#82ff69, #3748c6,rgb(44, 24, 72));width: 150px;display: inline-flex;justify-content: center;align-items: center;height: 30px;">
                <i class="bi bi-eye-fill" style="margin-right: 8px;">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                    <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
                  </svg>
                </i>
                VIEW
              </a>
            </div>

          </div>
        </div>
      </div>
    </section>
    <br>
    <br>
  
    <!-- Call to Action Section -->
    <div class="w-full  mt-10 py-10 text-center" style="background: radial-gradient(circle, #3748c6 , #030339,rgb(52, 25, 91))">
      <h2 class="text-l font-bold mb-4">Join the Community</h2>
      <p class="text-xl mb-6">Stay updated with the latest game releases and community events</p>
      <a href="/register" class="text-white  bg-gradient-to-br from-blue-900 to-blue-400 to-blue-200 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800 font-medium rounded-lg text-sm px-8 py-3 mt-8 " style="font-weight: bold; background-color: rgb(77, 74, 74); border: none; outline: none;border-radius: 15px;font-family:Audiowide, sans-serif; font-weight: bold; font-style: tech-oriented;" role="button">
        sign in
      </a>    
    </div>
  </div>
  